/* Board styles */
div#board div {
    outline: 1px solid;
    float: left;
}

.living {
    background-color: black;
}

/* Sidebar styles */
#sidebar {
    float: right;
    margin-right: 1em;
}

#sidebar li {
    list-style: none;
    margin-top: 0.5em;
}

.live-range {
    width: 2em;
}

#counter {
    float: right;
}
